.mainImageWrapper {
  display: flex;
  width: 100%;
  height: 37.5rem;
  position: relative;
  .mainImage {
    width: 100%;
    object-fit: cover;
  }
  .mainImageTitle {
    position: absolute;
    left: 10rem;
    top: 14.125rem;
    display: flex;
    align-items: baseline;
    flex-direction: column;
    .imageTitle {
      font-size: 2.875rem;
      line-height: 1.5;
      font-weight: 700;
      margin: 0 0 1rem 0;
      color: white;
    }
    .imageDescription {
      font-size: 1.125rem;
      font-weight: 400;
      display: block;
      line-height: 1.5;
      color: white;
    }
  }
}

.imageWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.25rem;
  padding: 3rem 2rem;

  .listImage {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

@media (max-width: 1024px) {
  .imageWrapper {
    padding: 2rem 2rem;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .imageWrapper {
    padding: 2rem 2rem;
    grid-template-columns: 1fr;
  }
}
