.searchWrapper {
  width: 50%;
  .search {
    display: flex;
    flex-direction: row;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    max-width: 720px;
    position: relative;
  }
  .searchButton {
    height: 40px;
    background: #f1f3f4;
    overflow: hidden;
    border: none;
    border-radius: 50% 0 0 50%;
    align-items: center;
    display: flex;
    width: 50px;
    padding: 0.5rem;
    outline: none;
    cursor: pointer;
  }

  .searchTerm {
    height: 38px;
    background: #f1f3f4;
    width: 100%;
    border: none;
    overflow: hidden;
    outline: none;
  }

  .searchIcon {
    padding-left: 0.5rem;
  }

  .searchBarRightIcon {
    height: 24px;
    background: #f1f3f4;
    overflow: hidden;
    border: none;
    border-radius: 0 50% 50% 0;
    align-items: center;
    display: flex;
    width: 34px;
    padding: 0.5rem;
  }
}
