.navWrapper {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.5rem 0rem;
  background-color: #fff;
  color: black;
  box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
}

.navigationMenu {
  ul {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    height: 56px;
  }
  li {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    cursor: pointer;
    list-style-type: none;
  }
  li a {
    text-decoration: none;
    width: 100%;
    padding: 1rem 0;
    color: #808080;
  }
  li:hover {
    color: #000000;
  }
  .active {
    border-bottom: 3px solid black;
    color: #000000;
  }
}

.divider {
  background-color: #d1d1d1;
  height: 2rem;
  width: 1px;
}
