.container {
  position: relative;
  width: 100%;
  height: 300px;

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s ease;
  }

  .imageDetails {
    position: absolute;
    bottom: 23px;
    left: 2rem;
    display: flex;
    align-items: baseline;
    flex-direction: column;
    opacity: 0;

    .imageUserName {
      font-size: 16px;
      color: white;
      margin: 0;
    }

    .imageDescription {
      font-size: 12px;
      color: white;
      margin: 0;
    }
  }

  .likeButton {
    position: absolute;
    top: 26px;
    right: 29px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.35s ease;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 34px;

    border: 1px solid #0000;
    box-shadow: 0 1px 2px #0000000f;
    border-radius: 4px;
    > img {
      width: 26px;
      height: 26px;
    }
  }

  .activeLike {
    background-color: #e04c4c;
  }
  .primaryLikeButton {
    background-color: #ffffffe6;
  }
}

.container:hover .overlay {
  display: block;
  background: rgba(0, 0, 0, 0.3);
}

.container:hover .likeButton {
  opacity: 1;
}

.container:hover .imageDetails {
  opacity: 1;
}

@media (max-width: 1024px) {
  .container {
    height: 100%;
  }
}
